.row.header-current
  .col-xs-12
    %p.header-current= (params[:old] ? t('.old') : t('.current'))
    .row
      .col-xs-12
        - if @reservations.any?
          = render partial: 'reservations', locals: { all_reservations: @reservations, current: !params[:old] }
        - else
          .alert.alert-warning Brak rezerwacji
