// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu-container {
  margin-top: 3em;

  .large-centered {
    padding: 1em;
    border: solid #000 3px;
  }
}
