#menu-container.row
  .span12
    .row
      .columns.span12.text-center
        = link_to 'Pokaż rezerwacje', reservations_path, class: 'button primary expand'
    .row
      .columns.span12.text-center
        = link_to 'Zarezerwuj stolik', new_reservation_path, class: 'button primary expand'


/ %h1
/ %center TU JUŻ NIEDŁUGO BĘDZIE MOŻNA REZERWOWAĆ STOLIKI
/ %h6
/ %center ale na razie jest ściernisko
